/* font */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:ital,wght@0,100;0,600;1,100;1,400&family=Poppins:wght@500&display=swap');

body {
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;



}

/* 1st banner start */
.top-banner {
    background-color: #161616;
    width: 1321px;
    height: 646px;
    border-radius: 30px;


}

.banner-info h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    color: #FFFFFF;
    padding-left: 100px;
    padding-top: 50px;
    margin-bottom: 20px;


}

.banner-info {
    display: flex;

}

.banner-info img {
    height: 613px;
    width: 581px;
    margin-top: 33px;
    margin-right: 65px;
    margin-left: 80px;


}

.banner-info p {
    padding-left: 100px;
    font-size: 16px;
    font-weight: 400px;
    color: #FFFFFF;
    margin-bottom: 50px;


}

.banner-info a {
    text-decoration: none;
    margin-left: 100px;
    background-color: #DD0000;
    padding: 12px 28px;
    color: #FFFFFF;
    border-radius: 5px;
    position: relative;






}

.fa-solid {
    padding-left: 15px;



}

.banner-info a:hover {

    background-color: aqua;
    transition: .4s;
}

/* 1st banner end */


/* mid-part start */

.mid-part1 {
    height: 312px;
    width: 312px;
    background-color: #161616;
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
    margin-right: 12px;
    margin-left: 12px;


}

.btn {
    margin-top: 30px;
    text-align: center;
    padding: 16px 23px;
    font-size: 20px;
    color: #161616;
    border-radius: 10px;
    font-weight: 550;
    cursor: pointer;

}


.btn1 {
    margin-top: 30px;
    text-align: center;
    padding: 16px 67px;
    font-size: 20px;
    color: #161616;
    border-radius: 10px;
    font-weight: 550;
    cursor: pointer;
}

.btn2 {
    margin-top: 30px;
    text-align: center;
    padding: 16px 89px;
    font-size: 20px;
    background-color: #DD0000;
    border-radius: 10px;
    font-weight: 550;
    cursor: pointer;
    color: #FFFFFF;
}

.main-2 {
    display: flex;



}



.matchs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    border: 0, 1px solid #E8E8E8;
    width: 312px;
    height: 362px;
    border-radius: 10px;
    row-gap: 20px;
    column-gap: 20px;
    margin-right: 700px;
    margin-left: 14px;

    margin-top: 100px;




}

.match {
    border: 1px solid #E8E8E8;
    width: 312px;
    height: 362px;
    border-radius: 10px;

}

.match h3 {
    padding-left: 17px;
}

.bt1 {
    margin-left: 20px;
    padding: 5px 20px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}




.fa-regular {
    padding-left: 17px;
    color: #161616B2;
}

.hour {
    padding-left: 10px;
    font-size: 18px;
    color: #161616B2;
}

.fa-message {
    margin-left: 15px;
    color: #161616B2;
}

.message {
    padding-left: 10px;
    font-size: 18px;
    color: #161616B2;
}


.end {
    margin-top: 500px;
    text-align: center;
    background-color: #161616;
    height: 444px;
    width: 1900px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
}

.end h3 {
    padding-top: 140px;


}

.border {
    border: 1px solid #FFFFFF1A;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;
}

.nevigation a {
    font-size: 16px;
    text-decoration: none;
    color: #B9B9B9;
    padding-right: 50px;
    cursor: pointer;



}

.icons {
    margin-top: 50px;
    text-decoration: none;

}

.icons .fa-brands {
    padding: 10px;
    cursor: pointer;



}

.btn a {
    text-decoration: none;
    color: #161616;
    font-weight: 550;

}





.fa-facebook {

    color: #FFFFFF;
}